.workpage{
  margin:30px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  .title{
    padding-top: 10px;
  }
    Button{
      color:#000;
      font-size:13px;
      .icontyle{
        font-size: 25px;
      }
    }
  
}