.skillPage{
  width: 80%;
  height: 90%;
  margin:0 auto;
  padding:30px 0 20px 0;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  
  .code-box-demo-wrapper{
    .iconstyle{
      border:none;
      margin-bottom:50px;
      font-size:50px;
    }
  }
  
}




