@import '~antd/dist/antd.less';
html,body{
  width: 100%;
  height: 100%;
  #root{
    width: 100%;
    height: 100%;
    background-image: url('./imges/y-so-serious-white.png');
    background-repeat: repeat;
    .layout{
      position:relative;
      width: 100%;
      height: 100%;
      Header{
        width: 100%;
        height: 46px;
      }
      .footer{
        text-align: center !important;
        background-color: #041527;
        color:#fff;
        position:absolute;
        bottom: 0;
        left: 0;
        right:0;
      }
    }
    
  }
}
