header{
  display: flex;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 5px #ffffff;
  .logo{
    width: 48px;
    img{
      width: 48px;
      transform: translateX(16px);
    }
  }
  .header-nav{
    width: 100%;
    margin-left:5%;
  }
}