header{
  display: flex;
  width: 100%;
  background-color: #041527;
  box-shadow: 0 0 5px #041527;
  .logo{
    width: 46px;
    .candyicon{
      font-size:40px;
    }
  }
  .header-nav{
    margin-left:20%;
    .btn{
      border:0px;
    }
  }
}